annotated-types==0.7.0
anyio==4.9.0
Authlib==1.5.1
cffi==1.17.1
cryptography==44.0.2
fastapi==0.115.11
idna==3.10
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
sniffio==1.3.1
starlette==0.46.1
typing_extensions==4.12.2
fastapi
pydantic-settings
pydantic
uvicorn
google-genai
mistralai
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary
pyjwt
bcrypt==3.2.0
google.generativeai
python-multipart
google
google-cloud-storage
xmltodict
pptx2md